#dowebok{
  width 100%
  height 100%
  .section{
    background: #f6f6f6 !important;
    position relative
    .news{
      width 1000px
      margin 0 auto
      h2{
        width 100%
        height 102px
        line-height 102px
        text-align left
        padding-left 26px
        color #333
        font-size 18px
        padding-top 110px
      }
      .title{
        text-align center
        color #333333
        font-size 24px
        padding-top 10px
        font-weight bold
      }
      .time{
        paddign-top 15px
        color #999999
        font-size 14px
        text-align center
      }
      ul{
        overflow hidden
        padding-top 50px
        li{
          color #333
          font-size 16px
          line-height 30px
          padding-top 20px
        }
      }
    }
    .footers{
      width 100%
      text-align center
      color #666
      line-height 60px
      height 60px
      background #eeeeee
    }
  }
}
